<!-----------------------------------Home page starts here------------------------------>

<div *ngIf="this.isButtonVisibletable">


<div class="homeTop">
  <span class="material-symbols-outlined">
  </span>
  <div *ngIf="this.isButtonVisible">
   Home
  </div> 
</div>

 
<!-- <div> -->
  <!-- <button mat-stroked-button  *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false"   ><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page" >Edit Endpoint</a></button> --> 
   
  <!-- <button mat-stroked-button   *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false"   ><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page" >New Endpoint</a></button>
<router-outlet></router-outlet> -->
<button mat-stroked-button  (click)="this.isButtonVisibletable=false" (click)="this.isButtonVisible2=true"  >New Endpoint</button>


<div>
<br>
<table border="" *ngIf="this.isButtonVisible" >
  <tr>
   <td>Delete</td>
   <td>Edit</td>
   <td>ID:</td>
   <td>Username:</td>
   <td>Mode:</td>
   <td>Time:(minutes)</td>
   <td>Data format:</td>
   <td>Lebels:</td>
   <td>Signature:</td>
   <td>URL:</td>
   <td>Email:</td>
   <td>Notification Email:</td>
   <td>Trigger Email:</td>
   <td>Content:</td>
  </tr> 
 
  <tr *ngFor="let item of data">
    <td>
     <button mat-stroked-button  (click)="delete(item.id)">Delete</button>
    </td> 
   

   <td>
  
    
    <button mat-stroked-button  (click)="this.isButtonVisibletable=false" (click)="Show(item.id)"  (click)="Showlist(item.id)" (click)="this.isButtonVisible1=true" >Edit Endpoint</button>
   </td>
   <td>{{item.id}}</td>
   <td>{{item.UserName}}</td>
   <td>{{item.mode}}</td>
   <td>{{item.time}}</td>
   <td>{{item.in1}}</td>
   <td>{{item.lebels}}</td>
   <td>{{item.signature}}</td>
   <td>{{item.firstName}}</td>
   <td>{{item.right1}}</td>
   <td>{{item.right2}}</td>
   <td>{{item.right3}}</td>
   <td>{{item.content}}</td>
  </tr> 
</table>  
</div>

</div>


<!-----------------------------------Edit endpoint starts here------------------------------>
<div *ngIf="this.isButtonVisible1">


  <div class="top">
    <span class="material-symbols-outlined"><div class="icon">
      edit</div>
    </span>
    <div>
      Edit Endpoint
    </div> 
  </div> 
  
  <head>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  
  
  
  <body>
    <div>
      
  
      </div>
  <div class="parent">
  <div class="child">
  <br>
  
  
  
    <mat-form-field  appearance="standard">
      <mat-label>Name</mat-label>
     <!-- <input matInput  ngModel pattern="[a-zA-Z ]*"> -->
     <!-- <input type="reset" value="Reset"> -->
     <!-- <input matInput value= [(ngModel)]="UserName"> -->
     <!-- <input  matInput > -->
    <input  [value]="data.UserName" matInput name="UserName"  [(ngModel)]="UserName">
      
   
     <div class ="ico">
        <mat-icon  matTooltip="Write Name here">info_outline</mat-icon>
      </div>
  
    </mat-form-field >
    
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="UserName">
    </mat-form-field>
   -->
    
  
    <mat-form-field appearance="standard">
   
      <mat-label>Post data format</mat-label>
      <mat-select required [value]='data.in1' [(ngModel)]="in1">
        <mat-option value="Json 10.0">Json 10.0</mat-option>
        <mat-option value="Json 10.1">Json 10.1</mat-option>
        <mat-option value="Json 10.2">Json 10.2</mat-option>
        <mat-option value="Json 10.3">Json 10.3</mat-option>
      </mat-select>
  
      <div class ="ico">
        <mat-icon   matTooltip="Write Post data Format here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
  
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>Mode</mat-label>
      <mat-select name="mode" ngModel [value]='data.mode' [(ngModel)]="mode">
        <input  matInput placeholder="Insert/Update" value="">
        <mat-option value="Insert">Insert</mat-option>
        <mat-option value="Update">Update</mat-option>
      </mat-select>
  
      <div class ="ico">
        <mat-icon  matTooltip="Write Mode here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
  
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>Use lebels</mat-label>
      <mat-select name="lebels" [value]='data.lebels' [(ngModel)]="lebels">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
  
      <div class ="ico">
        <mat-icon   matTooltip="Use lebels">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
    
  
  
  
  <mat-form-field class="example-chip-list" appearance="standard">
    <mat-label>Email</mat-label>
    <mat-chip-list  #chipList aria-label="Fruit selection"  > 
        <mat-chip [color]="(fruit.invalid)?'warn':''" selected  *ngFor="let fruit of fruits ; let i=index;"     
          [selectable]="true" 
          [removable]="removable"
                (removed)="remove(fruit)" 
          required name="chips" >
          {{fruit.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
        <input [(ngModel)]="mail" placeholder="Email address...."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)" [value]='data.right1'>   
    </mat-chip-list>
  
    <div class ="ico">
      <mat-icon  matTooltip="Write Email Type here">info_outline</mat-icon>
    </div>
  
  </mat-form-field>
  
  
  
  
  
  <mat-form-field class="example-chip-list" appearance="standard">
    <mat-label>Trigger Post Email</mat-label>
    <mat-chip-list #chipList1 aria-label="Fruit selection1"> 
      <mat-chip [color]="(fruit2.invalid)?'warn':''" selected *ngFor="let fruit2 of fruits2; let i2=index;"
        [selectable]="true" 
        [removable]="removable"
        (removed)="remove(fruit2)" 
        required name="chips1">
        {{fruit2.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input [(ngModel)]="trigMail" placeholder="Email address...."
      [matChipInputFor]="chipList1"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add1($event)" [value]='data.right2'>
  </mat-chip-list>
  
    <div class ="ico">
      <mat-icon  matTooltip="Write Trigger Post Email Type here">info_outline</mat-icon>
    </div>
  
  </mat-form-field>
  
  
  
  
  </div>
  <div class="child" >
  <br>
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>URL</mat-label>
        <input [value]='data.firstName'  required matInput   [(ngModel)]="firstName "  ngModel pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
      
        <div class ="ico">
        <mat-icon  matTooltip="Write URL here">info_outline</mat-icon>
      </div>
    
    </mat-form-field>
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>Post Data Content Type</mat-label>
      <mat-select required [(ngModel)]="content"  [value]='data.content'>
        <mat-option  value="Json 10.0" disable="false">Json 10.0</mat-option>
        <mat-option value="Json 10.1" disable="false">Json 10.1</mat-option>
      </mat-select>
      
      <div class ="ico">
        <mat-icon  matTooltip="Write Post Data Content Type here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
  
  
    
    <mat-form-field appearance="standard">
      <mat-label>Signature</mat-label>
      <mat-select name="signature" [value]='data.signature' [(ngModel)]="signature">
        <input matInput placeholder="None">
        <mat-option value="Insert">Insert</mat-option>
        <mat-option value="Update">Update</mat-option>
      </mat-select>
      
      <div class ="ico">
        <mat-icon  matTooltip="Signature">info_outline</mat-icon>
      </div>
  
    </mat-form-field>   
  
  
  

    
     <mat-form-field appearance="standard">
      <mat-label>Request Time Limit</mat-label>
      <input matInput disable="false" name="time"  [value]='data.time' [(ngModel)]="time"> 
      <div class ="ico">
        <mat-icon  matTooltip="Write Reuquest Time Limit here">info_outline</mat-icon>
      </div>
  
    </mat-form-field> 
  
  
  
  
    <mat-form-field class="example-chip-list" appearance="standard">
      <mat-label>Notification Email</mat-label>
      <mat-chip-list #chipList2 aria-label="Fruit selection1"> 
        <mat-chip [color]="(fruit3.invalid)? 'warn':''" selected *ngFor="let fruit3 of fruits3; let i3=index;"
          [selectable]="true" 
          [removable]="removable"
          (removed)="remove(fruit3)"
          required name="chips1">
          {{fruit3.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [(ngModel)]="ntMail" placeholder="Email address...."
        [matChipInputFor]="chipList2"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add2($event)" [value]='data.right3'>   
    </mat-chip-list>
  
      <div class ="ico">
        <mat-icon  matTooltip="Write Notification Email here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
    
  
      <section>
      <mat-checkbox>Guaranteed Delivery </mat-checkbox>
      <mat-icon  matTooltip="Guaranteed Delivery">info_outline</mat-icon>
      <mat-checkbox class="check">   Disable Endpoint </mat-checkbox>
      <mat-icon  matTooltip="Disable Endpoint">info_outline</mat-icon>
      </section>
  
  
  </div>
  </div>
  
  
  
  <div class="example-button-row" >
    <button mat-button  matTooltip="Cancel?">Cancel</button>
    <button mat-raised-button matTooltip="Delete all?">Delete</button>
   
    <button  mat-flat-button  (click)="onSave(item_id)" [disabled]="this.wrong.length !=0 ||this.data.firstName==='' || this.data.in1==='' || this.data.content===''" matTooltip="Let's Save!!" >Save</button>
  </div>
  
  
  
  </body> 
  </div>

   <!-----------------------------------New endpoint starts here------------------------------>
   <div *ngIf="this.isButtonVisible2">
   <div class="top">
    <span class="material-symbols-outlined"><div class="icon">
      edit</div>
    </span>
    <div>
      New Endpoint
    </div> 
  </div> 
  
  <head>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  
  
  
  <body>
    <div>
      
  
      </div>
  <div class="parent">
  <div class="child">
  <br>
  
  
  
    <mat-form-field  appearance="standard">
      <mat-label>Name</mat-label>
     <!-- <input matInput  ngModel pattern="[a-zA-Z ]*"> -->
     <!-- <input type="reset" value="Reset"> -->
     <!-- <input matInput value= [(ngModel)]="UserName"> -->
     <!-- <input  matInput > -->
    <input matInput name="UserName"  [(ngModel)]="UserName">
      
   
     <div class ="ico">
        <mat-icon  matTooltip="Write Name here">info_outline</mat-icon>
      </div>
  
    </mat-form-field >
    
    <!-- <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="UserName">
    </mat-form-field>
   -->
    
  
    <mat-form-field appearance="standard">
   
      <mat-label>Post data format</mat-label>
      <mat-select required [(ngModel)]="in1">
        <mat-option value="Json 10.0">Json 10.0</mat-option>
        <mat-option value="Json 10.1">Json 10.1</mat-option>
        <mat-option value="Json 10.2">Json 10.2</mat-option>
        <mat-option value="Json 10.3">Json 10.3</mat-option>
      </mat-select>
  
      <div class ="ico">
        <mat-icon   matTooltip="Write Post data Format here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
  
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>Mode</mat-label>
      <mat-select name="mode" ngModel  [(ngModel)]="mode">
        <input  matInput placeholder="Insert/Update" value="">
        <mat-option value="Insert">Insert</mat-option>
        <mat-option value="Update">Update</mat-option>
      </mat-select>
  
      <div class ="ico">
        <mat-icon  matTooltip="Write Mode here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
  
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>Use lebels</mat-label>
      <mat-select name="lebels" [(ngModel)]="lebels">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
  
      <div class ="ico">
        <mat-icon   matTooltip="Use lebels">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
    
  
  
  
  <mat-form-field class="example-chip-list" appearance="standard">
    <mat-label>Email</mat-label>
    <mat-chip-list  #chipList aria-label="Fruit selection"  > 
        <mat-chip [color]="(fruit.invalid)?'warn':''" selected  *ngFor="let fruit of fruits ; let i=index;"     
          [selectable]="true" 
          [removable]="removable"
                (removed)="remove(fruit)" 
          required name="chips" >
          {{fruit.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
        <input [(ngModel)]="mail" placeholder="Email address...."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">   
    </mat-chip-list>
  
    <div class ="ico">
      <mat-icon  matTooltip="Write Email Type here">info_outline</mat-icon>
    </div>
  
  </mat-form-field>
  
  
  
  
  
  <mat-form-field class="example-chip-list" appearance="standard">
    <mat-label>Trigger Post Email</mat-label>
    <mat-chip-list #chipList1 aria-label="Fruit selection1"> 
      <mat-chip [color]="(fruit2.invalid)?'warn':''" selected *ngFor="let fruit2 of fruits2; let i2=index;"
        [selectable]="true" 
        [removable]="removable"
        (removed)="remove(fruit2)" 
        required name="chips1">
        {{fruit2.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input [(ngModel)]="trigMail" placeholder="Email address...."
      [matChipInputFor]="chipList1"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add1($event)">
  </mat-chip-list>
  
    <div class ="ico">
      <mat-icon  matTooltip="Write Trigger Post Email Type here">info_outline</mat-icon>
    </div>
  
  </mat-form-field>
  
  
  
  
  </div>
  <div class="child" >
  <br>
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>URL</mat-label>
        <input required matInput   [(ngModel)]="firstName "  ngModel pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
      
        <div class ="ico">
        <mat-icon  matTooltip="Write URL here">info_outline</mat-icon>
      </div>
    
    </mat-form-field>
  
  
  
    <mat-form-field appearance="standard">
      <mat-label>Post Data Content Type</mat-label>
      <mat-select required [(ngModel)]="content">
        <mat-option  value="Json 10.0" disable="false">Json 10.0</mat-option>
        <mat-option value="Json 10.1" disable="false">Json 10.1</mat-option>
      </mat-select>
      
      <div class ="ico">
        <mat-icon  matTooltip="Write Post Data Content Type here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
  
  
    
    <mat-form-field appearance="standard">
      <mat-label>Signature</mat-label>
      <mat-select name="signature" [(ngModel)]="signature">
        <input matInput placeholder="None">
        <mat-option value="Insert">Insert</mat-option>
        <mat-option value="Update">Update</mat-option>
      </mat-select>
      
      <div class ="ico">
        <mat-icon  matTooltip="Signature">info_outline</mat-icon>
      </div>
  
    </mat-form-field>   
  
  
  

    
     <mat-form-field appearance="standard">
      <mat-label>Request Time Limit</mat-label>
      <input matInput disable="false" name="time" [(ngModel)]="time"> 
      <div class ="ico">
        <mat-icon  matTooltip="Write Reuquest Time Limit here">info_outline</mat-icon>
      </div>
  
    </mat-form-field> 
  
  
  
  
    <mat-form-field class="example-chip-list" appearance="standard">
      <mat-label>Notification Email</mat-label>
      <mat-chip-list #chipList2 aria-label="Fruit selection1"> 
        <mat-chip [color]="(fruit3.invalid)? 'warn':''" selected *ngFor="let fruit3 of fruits3; let i3=index;"
          [selectable]="true" 
          [removable]="removable"
          (removed)="remove(fruit3)"
          required name="chips1">
          {{fruit3.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input [(ngModel)]="ntMail" placeholder="Email address...."
        [matChipInputFor]="chipList2"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add2($event)">   
    </mat-chip-list>
  
      <div class ="ico">
        <mat-icon  matTooltip="Write Notification Email here">info_outline</mat-icon>
      </div>
  
    </mat-form-field>
    
  
      <section>
      <mat-checkbox>Guaranteed Delivery </mat-checkbox>
      <mat-icon  matTooltip="Guaranteed Delivery">info_outline</mat-icon>
      <mat-checkbox class="check">   Disable Endpoint </mat-checkbox>
      <mat-icon  matTooltip="Disable Endpoint">info_outline</mat-icon>
      </section>
  
  
  </div>
  </div>
  
  
  
  <div class="example-button-row" >
    <button mat-button  matTooltip="Cancel?">Cancel</button>
   
   
    <button  style=" background-color: #739F3C;
    color: white;
    padding: 10px 20px;
    margin-inline-end: auto;
    margin-left: 1050px;"
     mat-flat-button (click)="onSaveNew()" [disabled]="this.wrong.length !=0 ||this.firstName==='' || this.in1==='' || this.content===''" matTooltip="Let's Save!!" >Save</button>
  </div>
  
  
  
  </body> 
 
      
</div>